@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
// <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:wght@100..900, | Fira+Sans:wght@100..900 ;display=swap">
    
// General
.site-font {
  color: white;
  font-family: 'Fira Sans', sans-serif;
}

.just-font {
  font-family: 'Fira Sans', sans-serif;
}

// Home
  .home-background {
    background-color: #1e1e1e;
    min-height: 1000px;
    padding: 20px;
  }

  .ui.card.card_background {
    background-color: #262626;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5%;
  }

  .ui.cards a.card:hover {
    background: #303030;
    box-shadow: 0 6px 12px rgba(0,0,0,0.16), 0 6px 12px rgba(0,0,0,0.23);
  }

  .card_image {
    // height: 72%;
    height: 288px;
    width: 100%;
  }

// Cart
  .cart_font {
    color: white !important;
  }

// Navs
  .ui.menu.menu_background {
    background-color: #171717;
  }

//Panel
  .pane-background {
    background: #303030;
  }

  .slide-pane__content {
    position: relative;
    overflow-y: auto;
    // padding: 24px 32px;
    padding: 0px;
    flex: 1 1 auto;
  }

// Live page
.ticket-form-width {
  width: 40%;
}

.player-wrapper {
  position: relative;
  flex: 1;
  // background-color: #0d0f13;
  // &:hover > .credit {
  //     transform: translateY(-80px);
  // }
}

.player-error {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 750px;
  width: 75%;
  justify-content: center;
  align-items: center;
  background-color: black;

  & p {
      display: flex;
      align-items: center;
      margin-top: 8px;
      font-size: 32px;
      font-weight: 600;
      text-align: center;
      color: white;
  }
}

.intro {
    margin: auto;
    background: #262626;;
    color: #FFF;
    width:80%;
    height:auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  ​.player_img{
    height:auto;
  }​

// Static

.policies {
  background-color: white;
  color: white;
}

// General
  .center {
    height: 100%;
    position: relative;
  }

  .center-child {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

// .search-bar {
//   min-width: 75%;
// }

  .custom-logo {
    color: white;
  }

  .ui.button.cart-btn {
    box-shadow: none !important;
    background-color: #303030;
    transition: opacity 0.5s ease 0s, background-color 0.5s ease 0s, color 0.5s ease 0s, box-shadow 0.5s ease 0s, background 0.5s ease 0s;
  }

  .show-container {
    position: relative;
    // background-color: white;
    // text-align: center;
    // overflow: hidden;
  }
  

  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
    background-color: black;
    padding: 0.2rem;
    // display: inline;
    // font-weight: bold;
    
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

@media screen and (max-width: 600px) {
  .ticket-form-width {
    width: 100%;
  }
}

@import "./bootstrap_custom.scss";
